#form {
    width: 100%;
    margin-bottom: 20px;
    font-family: "Gowun Dodum", sans-serif;
    border: 1px #a76a3b solid;

    .form-div {
        display: flex;
        height: 26px;

        label {
            width: 50%;
            border: 1px #a76a3b solid;
            border-top: none;
            border-left: none;
            padding-left: 5px;
        }

        input {
            width: 50%;
            border: none;
            border-bottom: 1px #a76a3b solid;
            padding-left: 5px;
        }

    }

    .form-btn {
        width: 100%;
        max-width: 600px;
        height: 26px;
        border: none;
        background-color: #a76a3b;
        color: #FFF7F1;
    }

    .form-btn:hover {
        background-color: #FFF7F1;
        border: 2px #a76a3b solid;
        color: #a76a3b;
        transition: 500ms;
    }

}


@media (width > 650px) {
    #form{
        width: 600px;
        .form-btn{
            max-width:600px;
        }

    }
}