.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 1rem 3rem;
  height: auto;
  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  hr {
    margin: 4rem auto;
    border: none;
    border-radius: 10px;
    height: 5px;
    background: linear-gradient(to right, #a76a3b, #523b2a, #a76a3b);
  }
}

.about-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a76a3b;
}
.about-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#profile-nigel, #profile-dani {
  width: 100px;
  height: auto;
  object-fit: cover;
}

@media (width > 1024px) {
.about-container {

    h2 {
      font-size: 2.5rem;
      margin-right: 2rem;
    
    }
    /* hr{
      display: none;
    }
  
  } */
  }
  .container-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .about-member{
      height: 500px;
      border: 1px solid #a76a3b;
      margin: 20px;
      padding: 20px;
    }
    h2 {
      text-align: center;
      align-items: center;
    }
  }

 
  #profile-nigel, #profile-dani {
    width: 200px;
    height: 200px;

  }
} 