.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 1rem 3rem;
  height: auto;
  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  hr {
    margin: 4rem auto;
    border: none;
    border-radius: 10px;
    height: 5px;
    background: linear-gradient(to right, #a76a3b, #523b2a, #a76a3b);
  }
}

.about-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-member {
  display: flex;
  flex-direction: column;
}

#profile-nigel, #profile-dani {
  width: 100px;
}

@media (width > 650px) {
  .about-container {
    text-align: center;
    padding: 1rem 3rem;
    height: auto;
    gap: 5rem;
    h2 {
      font-size: 3rem;
    }
    hr{
      display: none;
    }
    
  }
  .container-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

 
  #profile-nigel, #profile-dani {
    width: 200px;
  }
}
