.sidebar{
    display: block;
    background-color: #a76a3b;
    width: 25%;
    height: 100dvh;
    padding: 50px;
    #menu-icon{
        width: 40px;
    }
    li{
        font-family: "Abril Fatface", serif;
        font-size: 1.5rem;
        list-style: none;
        text-align: right;
        margin: 40px auto;
        color: #ffff;
    }
    li:hover{
        color: #000;
    }
}