.sidebar {
  background-color: #a76a3b;
  width: 100dvw;
  height: 80px;
  padding: 20px;
  transition: heigth 0.3s ease;
  text-align: center;

  #menu-icon {
    width: 40px;
  }

  .sidebar-link {
    display: none;
  }
}

.sidebar:focus, .sidebar:hover {
  height: 150px;

  .sidebar-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Abril Fatface", serif;
    font-size: 1.5rem;
    list-style: none;
    transition: 500ms;
    cursor: pointer;
  }
  .sidebar-link:hover {
    color: #ddd0c6;
    transition: 500ms;
  }
}

@media (width > 650px){

  .sidebar {
    width: 80px;
    min-height: 80dvh;
    padding: 20px;
    transition: width 0.3s ease;
    text-align: unset;

    #menu-icon {
      width: 40px;
      margin: 0 auto;
      cursor: pointer;
    }
  
    li {
      display: none;
    }
  }
  
  .sidebar:hover {
    width: 20%;
  
    ul {
      flex-direction: column;
      justify-content: center;
      text-align: end;
      margin-bottom: 40px;
    }
  }

}
