.sidebar {
  background-color: #a76a3b;
  width: 100%;
  height: 80px;
  padding: 20px;
  transition: heigth 0.3s ease;
  position: relative;
  #menu-icon {
    position: relative;
    left: 50%;
    translate: -50%;
    width: 40px;
  }
  .sidebar-ul {
    display: none;
  }
}

.sidebar:focus,
.sidebar:hover {
  height: 150px;

  .sidebar-ul {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    margin-top: 20px;

    .sidebar-link {
      font-family: "Abril Fatface", serif;
      font-size: 1.5rem;
      text-decoration: none;
      color: black;
      transition: 500ms;
      cursor: pointer;
    }

  }
  .sidebar-link:hover {
    color: #ddd0c6;
    transition: 500ms;
  }
}


@media (width > 650px){

  .sidebar {
    width: 80px;
    height: 100%;
    padding: 20px;
    transition: width 0.3s ease;
    #menu-icon {
      width: 40px;
      margin: 0 auto;
      cursor: pointer;
    }
  
    .sidebar-ul {
      display: none;
      
    }
  }
  
  .sidebar:hover {
    width: 150px;
    height: 100%;
    justify-content: end;
    .sidebar-ul {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 40px;
    }
  }

}