.sidebar {
  background-color: #a76a3b;
  width: 5%;
  height: 100dvh;
  padding: 50px;
  transition: width 0.3s ease;

  #menu-icon {
    width: 40px;
  }

  li {
    display: none;
  }
}

.sidebar:hover {
  width: 20%;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    font-family: "Abril Fatface", serif;
    font-size: 1.5rem;
    list-style: none;
    /*text-align: right;*/
    margin: 40px auto;
    color: #000;
  }
  li:hover {
    color: #ddd0c6;
  }
}
