.footer{
    background-color:  #FFF7F1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5px;
    border-top: 1px #a76a3b solid;
    padding: 20px;
    height: 95px;
    a{
        height: 35px;
    }
    img {
        width: 35px;
        border-radius: 50%;
        padding: 0;
        border: none;
        transition: 1s;
    }
    
    img:hover {
        width: 32px;
        border: #a76a3b 1px solid;
        padding: 3px;
        transition: all 0.3s ease-in;
        box-shadow: inset 0 0 3px #955e34;
    }
}

@media (width > 650px){
    .footer{
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 20px 80px;
        a{
            height: 50px;
        }
        img {
            width: 50px;
        }
        
        img:hover {
            width: 47px;
        }
    }

}