/* 
COLORS:

background-color: #FFF7F1;
color fonts: #0000;
color hover: #FF5B29;
second background-color: #a28f81;
*/
/* 
FONTS:
h1... font: font-family: "Abril Fatface", serif;
p, etc: font-family: "Gowun Dodum", sans-serif;
*/
.main-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (width > 650px){
  .main-app-container {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 80dvh;
  }
}
