@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gowun+Dodum&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100dvh;
  background-color: #FFF7F1;
}

h1, h2, h3, li{
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  color: #000;
}

p, small, span, li, a, input{
  font-family: "Gowun Dodum", sans-serif;
}